*{
    box-sizing: border-box;
}
	
h1{
		text-align: center;
}

.registro{
		width: 400px;
		background: #D0CFEC;
		padding: 30px;
		margin: auto;
		margin-top: 100px;
		border-radius:4px;	
		font-family: 'calibri';
		color: BLACK;

}
.control{
		width: 100%;
		background: #fafdffbd;
		padding: 10px;
		border-radius:4px;
		margin-bottom: 16px;
		font-family: 'calibri';
		font-size: 18px;
}
.boton{
		width: 100% ;
		background: #989572;
		border: none;
		padding: 10px;
		color: rgb(255, 255, 255);
		margin: 10px 0;
		font-size: 16px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
}
.boton:hover{
        color: #ffffff;
        background-color: #C6AE82;
        text-decoration: none;
}
.footer{
    background-color: #145f91;
    padding: 1px;
}
.footer p{
    color: azure;
    margin: 5px 5px 5px 30px;
	
}
.container{
	width: 1100px;
	display:flex;
	flex-direction: row;
	margin-left: 10px;
}
